@model IPagedList<Livraria_Lunar_E_commerce.Models.Livros>

@{
    ViewBag.Title = "Consultar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
<div style="width:100%" class="d-none d-lg-block">
<h2 class="text-center mt-2 mb-0 bg-title py-5 text-white ">Consulta de Livros</h2>
</div>

<table class="table table-hover text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().nm_produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().qt_estoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vl_unitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().img_produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().no_paginas)
        </th>
        <th style="width: 4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
            @Html.DisplayNameFor(model => model.First().no_isbn)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().dt_publicada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().nm_autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().nm_editora)
        </th>

        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nm_produto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.qt_estoque)
    </td>
    <td>
        R$@Html.DisplayFor(modelItem => item.vl_unitario)
    </td>
    <td>
        <img src="@item.img_produto" class="img-fluid" style="width:100px;">
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.no_paginas)
    </td>
    <td style="width: 4rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap " title="@Html.DisplayFor(modelItem => item.no_isbn)">
        @Html.DisplayFor(modelItem => item.no_isbn)
    </td>

    <td>
        @item.dt_publicada.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nm_autor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nm_editora)
    </td>
    <td>
        <a href="@Url.Action( "Editar", new {  id=item.cd_produto  })" class="bg-primary text-dark rounded p-1"><i class="bi bi-pen"></i></a>
        @if(Session["tipoLogado2"] != null){
        <a class="bg-primary text-dark rounded p-1" style="cursor:pointer" onclick="ConfirmDelete(@item.cd_produto)"><i class="bi bi-trash"></i></a>
        }
   </td>
</tr>
    }

</table>
Página @Model.PageNumber de @Model.PageCount


@Html.PagedListPager(Model, i => Url.Action("Consultar", "Livros", new { i, search = Request.QueryString["search"] }))





<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark ">
                <h5 class="modal-title text-white">Excluir item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-white">
                <p>Você tem certeza que deseja excluir esse item?</p>
            </div>
            <div class="modal-footer bg-white">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="DeleteEmployee()">Excluir</button>
            </div>
        </div>
    </div>
</div>


@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenEmployeeId" />

@section scripts{
    <script>



        var ConfirmDelete = function (EmployeeId) {

            $("#hiddenEmployeeId").val(EmployeeId);
            $("#myModal").modal('show');

        }

        var DeleteEmployee = function () {



            var empId = $("#hiddenEmployeeId").val();

            $.ajax({

                type: "POST",
                url: "/Admin/Livros/Excluir",
                data: { Id: empId },
                success: function (result) {

                    $("#myModal").modal("hide");
                    $("#row_" + empId).remove();
                    document.location.reload(true)
                }

            })

        }




    </script>

}