@model Livraria_Lunar_E_commerce.Models.Autor

@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center  mb-0 bg-title py-5 text-white">Editar Autor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.cd_autor)
    <div class="shadow p-3 ps-md-2 ps-lg-5 pt-5 bg-body rounded pb-5 div__shadow overflow-hidden">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form__div col-md-12 col-lg-10">
                    @Html.EditorFor(model => model.nm_autor, new { htmlAttributes = new { @class = "form__input", @placeholder = " " } })
                    @Html.LabelFor(model => model.nm_autor, htmlAttributes: new { @class = "form__label" })
                </div>
                @Html.ValidationMessageFor(model => model.nm_autor, "", new { @class = "text-danger text-center" })
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="form__div col-md-12 col-lg-10">
                    @Html.DropDownList("ds_status", new List<SelectListItem> {
                        new SelectListItem{ Text= "Ativo", Value="1"},
                        new SelectListItem{ Text= "Inativo", Value="0" },

                        }, "Selecione um Status", htmlAttributes: new { @class = "form__input p-2", @placeholder = "" })
                    @Html.LabelFor(model => model.ds_status, htmlAttributes: new { @class = "form__label" })
                </div>
                @Html.ValidationMessageFor(model => model.ds_status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Editar" class="btn btn-primary px-5 py-3 translate-middle-x rounded" />
        </div>
    </div>

}
