<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Livraria Lunar</title>
    <link href="~/Content/scss/estilo1.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary nav-height fixed-top mb-2">
        <div class="container-fluid">
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
            </button>
            <a class="navbar-brand text-dark fw-bold text-uppercase me-auto" href="/Admin/Home/Index"><img src="~/Content/assets/images/Logosemcor-horizontal.png" alt="Logo" class="img-fluid" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-info-circle"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto">
                    <div class="input-group my-3 my-lg-0">
                        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-dark" type="button" id="button-addon2"><i class="bi bi-search text-white"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="nav-link" href="/Login/Logout">Logout <i class="bi bi-box-arrow-left"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar-->
    <!-- Offcanvas-->
    <div class="offcanvas offcanvas-start modal-adm bg-dark position-fixed text-white" tabindex="-5" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body pt-0 mt-1 p-0 scroll">
            <nav class="navbar-dark">
                <ul class="navbar-nav text-white">
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-2 pt-2">GESTÃO</div>
                    </li>
                    <li>
                        <a href="/Admin/Home/Index" class="nav-link px-3 active">
                            <span class="me-2 text-white-50">
                                <i class="bi bi-clipboard-data"></i>
                            </span>
                            <span class="text-white-50">Dashboard</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-2">INTERFACE</div>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-shield"></i></span>
                            <span class="text-white-50 ">Administradores</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample8">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Administradores/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Administradores/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-file-person"></i></span>
                            <span class="text-white-50 ">Clientes</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Clientes/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Clientes/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-bookmarks"></i></span>
                            <span class="text-white-50 ">Categorias</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample2">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Categoria/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Categoria/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-box"></i></span>
                            <span class="text-white-50 ">Produtos</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample3">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Produtos/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Produtos/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample31" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-book"></i></span>
                            <span class="text-white-50 ">Livros</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample31">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Livros/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Livros/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-bookmark-star"></i></span>
                            <span class="text-white-50 ">Autor</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample4">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Autor/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Autor/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-layout-text-sidebar-reverse"></i></span>
                            <span class="text-white-50 ">Editora</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample5">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Editora/Cadastrar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-plus-circle"></i></span>
                                            <span class="text-white-50">Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Editora/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-3 text-white-50"><i class="bi bi-truck"></i></span>
                            <span class="text-white-50 ">Entregas</span>
                            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <div class="collapse" id="collapseExample6">
                            <div>
                                <ul class="navbar-nav ps-3">
                                    <li>
                                        <a href="/Admin/Entregas/Consultar" class="nav-link px-3">
                                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                                            <span class="text-white-50">Consultar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
        <a class="nav-link px-3 sidebar-link mt-2" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span class="me-3 text-white-50"><i class="bi bi-chat"></i></span>
            <span class="text-white-50 ">Comentários</span>
            <span class="right-icon ms-auto text-white-50"><i class="bi bi-chevron-down"></i></span>
        </a>
        <div class="collapse" id="collapseExample7">
            <div>
                <ul class="navbar-nav ps-3">

                    <li>
                        <a href="/Admin/Comentario/Consultar" class="nav-link px-3">
                            <span class="me-2 text-white-50"><i class="bi bi-search"></i></span>
                            <span class="text-white-50">Consultar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>-->
                </ul>
            </nav>
        </div>
    </div>
    <!-- Offcanvas-->
    <!--Body-->
    <main class="mt-3 mt-md-5 pt-3 p-0">
        <div class="container-fluid">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
    </main>



    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/assets/js/cep.js")

    <script src="~/Content/assets/js/delete.js"></script>


    <script>
        $(document).ready(function () {
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#celular").inputmask("mask", { "mask": "(99) 9999-99999" });
            $("#telefone").inputmask("mask", { "mask": "9999-9999" });
            $('.date').mask('00/00/0000');
            $('.vl_unitario').mask('000.000.000.000.000,00', { reverse: true });
        });



    </script>

    @Scripts.Render("~/bundles/inputmask")


    @RenderSection("scripts", required: false)
</body>
</html>


